<h1>Employees</h1>

<a vertical-align="middle" class="btn btn-primary" routerLink="/add">
  <i class="fa fa-plus" aria-hidden="true"></i>
  <strong>Add</strong>
</a>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>
        <a class="btn btn-primary" routerLink="/edit/{{employee.id}}">
          <i class="fa fa-pencil-square-o fa-lg"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-danger" routerLink="/delete/{{employee.id}}">
          <i class="fa fa-trash-o fa-lg"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li *ngFor="let n of getPagination()" class="page-item">
      <a class="page-link" routerLink="/employees?page={{n}}">{{n}}</a>
    </li>
  </ul>
</nav>