<h1>Employee Form</h1>

<form #employeeForm="ngForm">
  <fieldset [disabled]="adding">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName"
             #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        First name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName"
             #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
        Last name is required
      </div>
    </div>

    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="text" class="form-control" id="avatar" [(ngModel)]="model.avatar" name="avatar">
    </div>

    <div class="form-group">
      <img *ngIf="model.avatar" class="img-fluid rounded" src="{{model.avatar}}" alt="No preview available.">
    </div>
  </fieldset>

  <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!employeeForm.form.valid || adding">Submit</button>
  <button type="button" class="btn btn-secondary" [disabled]="adding" (click)="newEmployee(); employeeForm.reset()">Clear</button>
  <button type="button" class="btn btn-secondary" routerLink="/employees">Back</button>
</form>
