<h1>Employee Details</h1>

<div *ngIf="model">
  <img *ngIf="model.avatar" class="img-fluid rounded mx-auto d-block" src="{{model.avatar}}" alt="No preview available.">
  <table class="table table-responsive">
    <tr>
      <td><strong>First name:</strong></td>
      <td class="text-left">{{model.firstName}}</td>
    </tr>
    <tr>
      <td><strong>Last name:</strong></td>
      <td class="text-left">{{model.lastName}}</td>
    </tr>
  </table>
  <a class="btn btn-primary" routerLink="/edit/{{model.id}}">
    <i class="fa fa-pencil-square-o fa-lg"></i>
  </a>
  <a class="btn btn-danger" routerLink="/delete/{{model.id}}">
    <i class="fa fa-trash-o fa-lg"></i>
  </a>
</div>
