<h1>Employee Details</h1>

<ng-container *ngIf="loading; else contentContainer">
  <div class="container text-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</ng-container>

<ng-template #contentContainer>
  <ng-container *ngIf="model;then modelContainer else errorContainer">

  </ng-container>
</ng-template>

<ng-template #modelContainer>
  <img *ngIf="model.avatar" class="img-fluid rounded mx-auto d-block" src="{{model.avatar}}" alt="No preview available.">
  <div class="details">
    <p>
      <strong>First name:</strong>
      {{model.firstName}}
      <br>
      <strong>Last name:</strong>
      {{model.lastName}}
    </p>
  </div>
  <div id="buttons">
    <a class="btn btn-primary" routerLink="/edit/{{model.id}}">
      <i class="fa fa-pencil-square-o fa-lg"></i> Edit
    </a>
    <a class="btn btn-danger" routerLink="/delete/{{model.id}}">
      <i class="fa fa-trash-o fa-lg"></i> Delete
    </a>
    <button type="button" class="btn btn-secondary" routerLink="/employees">Back</button>
  </div>
</ng-template>

<ng-template #errorContainer>
  <div class="error-message">
    <h3>No employee</h3>
  </div>
</ng-template>