<h1>Dashboard</h1>

<!-- <div class="col-md-10 col-md-offset-1 text-center">
    <button class="btn btn-success" (click)="success('Test')">Success</button>
    <button class="btn btn-danger" (click)="error('Test')">Error</button>
    <button class="btn btn-info" (click)="info('Test')">Info</button>
    <button class="btn btn-warning" (click)="warn('Test')">Warn</button>
    <button class="btn btn-default" (click)="clear()">Clear</button>
</div> -->

<img src="http://thecatapi.com/api/images/get?format=src&type=gif" class="img-fluid rounded">
