/* You can add global styles to this file, and also import other style files */
.content {
    margin-top: 60px;
}

.content h1 {
    text-align: center;
    padding: 25px 0px 15px 0px;
}

.content table {
    margin-top: 20px;
}

.content table th {
    background: #505050;
    border-color: #505050;
    color: #FFFFFF;
}

.content table tbody tr:hover {
        background: rgb(220, 220, 220);
}

.content table tbody td {
    vertical-align: middle;
}

.content table tbody td:nth-last-child(-n+2) {
    text-align: right;
    width: 1%;
    white-space: nowrap;
    padding: 0.3rem;
}

.content table tbody td:nth-last-child(-n+1) {
    text-align: right;
    width: 1%;
    white-space: nowrap;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
}

.page-limit-selector {
    float: right;
    cursor: pointer;
}

.btn-group>.btn {
    cursor: pointer;
}

.pagination {
    float: right;
}

.pagination li:hover {
    cursor: pointer;
}

.fill {
  min-height: 100%;
}
