.content {
    margin-top: 60px;
}

.content h1 {
    text-align: center;
    padding: 25px 0px 15px 0px;
}

.content table {
    margin-top: 20px;
}

.content table th {
    background: #505050;
    border-color: #505050;
    color: #FFFFFF;
}

.content table tbody tr:hover {
        background: rgb(220, 220, 220);
}

.content table tbody td {
    vertical-align: middle;
}

.table-options-right {
    float: right;
    cursor: pointer;
}

.table-options-right input {
    margin-right: 5px;
    border-color: #007bff;
}

.btn-group>.btn {
    cursor: pointer;
}

.pagination {
    float: right;
}

.pagination li:hover {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}