/* You can add global styles to this file, and also import other style files */
.content {
    margin-top: 80px;
}

.content h2 {
    text-align: center;
}

.content table {
    margin-top: 20px;
}

.content table th {
    background: #505050;
    border-color: #505050;
    color: #FFFFFF;
}

.content table tbody tr:hover {
    background: rgb(177, 176, 176);
}