<h1>Employee Form</h1>

<ng-container *ngIf="loading; else contentContainer">
  <div class="container text-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</ng-container>

<ng-template #contentContainer>
  <ng-container *ngIf="model;then modelContainer else errorContainer">

  </ng-container>
</ng-template>

<ng-template #modelContainer>
  <form #employeeForm="ngForm" id="content">
    <fieldset [disabled]="updating">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName"
               #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          First name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName"
               #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>

      <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="text" class="form-control" id="avatar" [(ngModel)]="model.avatar" name="avatar">
      </div>

      <div class="form-group">
        <img *ngIf="model.avatar" class="img-fluid rounded" src="{{model.avatar}}" alt="No preview available.">
      </div>
    </fieldset>

    <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!employeeForm.form.valid || equals() || updating">Submit
    </button>
    <button type="button" class="btn btn-secondary" [disabled]="updating"
            (click)="resetEmployee(); employeeForm.reset(original);">Reset
    </button>
    <button type="button" class="btn btn-secondary" routerLink="/employees">Back</button>
  </form>
</ng-template>

<ng-template #errorContainer>
  <div class="error-message">
    <h3>No employee</h3>
  </div>
</ng-template>
